{% extends "base.html" %}

{% block content %}
    <!--<div class="starter-template">-->
    <h1 class="show">Pixxx</h1>
    <p class="lead">Here a quick Picture View. Click on a picture to it in full screen.</p>

{% if latest_picture_list %}

    <div class="row">
    {% for picture in latest_picture_list %}
    <div class="col">
          <h8>{{ picture.name }}</h8>
          <a href="{% url 'web_portal:detail' picture.id %}"><img class="img-fluid" src="{{ picture.photo }}" alt="abc"></a>
    </div>

    {% endfor %}
    </div>

{% else %}
    <p>No pictures are available.</p>
{% endif %}

<!--<a href="{% url 'web_portal:test' %}">test</a>-->

  <!--</div>-->
{% endblock content %}